:root {
  --border-radius: 0.2rem;
  --border-color: hsl(204deg, 80%, 80%);
  --source-color: hsl(204deg, 100%, 90%);
}

* {
  box-sizing: border-box;
  user-select: none;
}

input {
  user-select: unset;
}

body {
  font-family: "Segoe UI Light", Calibri, helvetica, arial, sans-serif;
  font-size: 14px;
  margin: 1em;
  position: relative;
}

h1 {
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0.25rem 0;
}

h2 {
  font-weight: normal;
  font-size: 1.25rem;
  margin: 0.5rem 0 0.25rem 0;
}

h3 {
  font-weight: normal;
  font-size: 1rem;
  margin: 0.25rem 0;
}


.sources ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: var(--source-color);
  border: 1px solid var(--border-color);
  overflow: hidden;
}

.sources ul li {
  padding: 0.75rem;
  background: var(--source-color);
  border-bottom: 1px solid var(--border-color);
}
.sources ul li:last-child {
  border: 0 none;
}

.sources label, .drop-widget {
  display: block;
  margin-bottom: 0.25rem;
}

.sources input {
  width: 100%;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}

.sources .local {
  display: none;
}

label[for="local"] {
  margin: 0;
}

label[for="local"] button {
  padding: 0.25rem;
  border-radius: var(--border-radius);
  border: 1px solid #AAA;
  background: rgba(255,255,255,0.5);
  margin-left: 0.25rem;
}

.sources .text {
  width: calc(100% - 2.5rem);
}

.sources .btn-paste {
  width: 2rem;
  padding: 0.35rem;
  border: 1px solid #AAA;
}

.dropover {
  position: relative;
}

.dropover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(128,128,128,0.5);
}

.copy {
  transition: background 1s;
  background: #FAFAFA;
  border: 1px solid #AAA;
  padding: 0.5rem;
}

.copy:active {
  transition: background 0s;
  background: hsl(180deg, 50%, 100%);
}

.data-uri {
  display: none;
}

.data-uri[href=""], .data-uri[href=""] ~ * {
  display: none;
}

.data-uri[href=""] ~ h3 {
  display: block;
  visibility: hidden;
}

.data-uri[href=""] ~ .copy {
  display: none;
}

.data-uri ~ .copy {
  display: block;
  visibility: visible;
}

.data-uri[href=""] ~ h3::before {
  content: 'No source selected.\A\APlease select a source above.';
  white-space: pre-wrap;
  display: block;
  visibility: visible;
  margin: 0;
  padding: 3rem;
  
  color: black;
  background: #EEE;
  border: 1px solid #DDD;
  border-radius: var(--border-radius);
  
  text-align: center;
  
}

.preview {
  border: 1px dashed #AAA;
  width: 100%;
  min-height: 25vh;
  max-height: 100vh;
  --checker-color-light: #EEE;
  --checker-color-dark: #DDD;
  --checker-size: 40px;
  
  background-color: var(--checker-color-light);
  background-image:
    linear-gradient(45deg, var(--checker-color-dark) 25%, transparent 25%, transparent 75%, var(--checker-color-dark) 75%, var(--checker-color-dark)),
    linear-gradient(45deg, var(--checker-color-dark) 25%, transparent 25%, transparent 75%, var(--checker-color-dark) 75%, var(--checker-color-dark));
  background-size: var(--checker-size) var(--checker-size);
  background-position: 0 0, calc(var(--checker-size) * 0.5) calc(var(--checker-size) * 0.5);
}

.preview > * {
  width: 100%;
  min-height: 25vh;
  max-height: 50vh;
  object-fit: contain;
  border: 0 none;
}

.preview, .sources ul {
  border-radius: var(--border-radius);
}

.install {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.25rem;
  padding: 0.25rem;
  display: none;
  border-radius: var(--border-radius);
  border: 1px solid #AAA;
  background: #EEE;
}